<!DOCTYPE html>
<html>
@using Course_Project.Data
@inject ApplicationDbContext context
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/comments.css" />
        <link rel="stylesheet" href="~/css/raiting.css" />
        <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
        <script src="~/js/dropzone.js"></script>
        <link rel="stylesheet" href="~/lib/dropzone/dist/basic.css" />
        <link rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css" />
        <link rel="stylesheet" href="~/css/navbar.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="col-md-8">
        <nav class="navbar navbar-default  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Posts" asp-action="Index" class="navbar-brand">@Localizer["News"]</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Author") || User.IsInRole("Admin"))
                        {
                            <li><a asp-area="" asp-controller="Posts" asp-action="Create">@Localizer["Add news"]</a></li>
                        }
                        <div class="btn-group" style="margin-top:8px">
                            <button id="chooseCategory" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer["Choose category"] <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @foreach (var category in context.Categories)
                                {
                                    <li><a asp-action="DisplaySingleCategory" asp-route-category="@category.CategoryName">@category.CategoryName</a></li>
                                }
                            </ul>
                        </div>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>

    </div>
    <div class="container body-content">
        @await Html.PartialAsync("_SelectLanguagePartial")
        @RenderBody()
        <hr />
        <footer>



            <p style="text-align:center;position:relative;top:-20px">&copy; 2018 - @Localizer["News site"]</p>


        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive-master/jquery-ajax-unobtrusive-master/dist/jquery.unobtrusive-ajax.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
