@using Microsoft.AspNetCore.Identity
@model Course_Project.Models.ChangeRoleViewModel
<h2>@Localizer["Delete user"] @Model.UserName</h2>
<form asp-action="ConfirmDeleteUser" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        <label>@Localizer["Are you sure you want to delete this user?"]</label>
        <button type="submit" class="btn btn-primary">@Localizer["Yes"]</button>
        <a class="btn btn-sm btn-primary" asp-action="UserList">@Localizer["Cancel"]</a>
    </div>
    
</form>