@model IEnumerable<Course_Project.Models.ApplicationUser>
<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td><a asp-area="" asp-controller="Manage" asp-action="Index" asp-route-userid="@user.Id" title="Manage">@user.UserName</a></td>
        <td>@user.Email</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            @if (@user.LockoutEnd != null && user.LockoutEnd > DateTime.Now)
            {
                <a class="btn btn-sm btn-primary" asp-action="UnblockUser" asp-route-userid="@user.Id">Разблокировать</a>
            }
            else
            {
                <a class="btn btn-sm btn-primary" asp-action="BlockUser" asp-route-userid="@user.Id">Блокировать</a>
            }

            <a class="btn btn-sm btn-primary" asp-action="DeleteUser" asp-route-userid="@user.Id">Удалить</a>
        </td>
            @if (@user.LockoutEnd != null && user.LockoutEnd > DateTime.Now)
             {
                <td>Блокировка закончится:@user.LockoutEnd</td> 
             }
        </tr>
    }
</table>