@model IEnumerable<Course_Project.Models.ApplicationUser>
<h2>@Localizer["List of users"]</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td><a asp-area="" asp-controller="Manage" asp-action="Index" asp-route-userid="@user.Id" title="Manage">@user.UserName</a></td>
        <td>@user.Email</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">@Localizer["Access rights"]</a>
            @if (@user.LockoutEnd != null && user.LockoutEnd > DateTime.Now)
            {
                <a class="btn btn-sm btn-primary" asp-action="UnblockUser" asp-route-userid="@user.Id">@Localizer["Unblock"]</a>
            }
            else
            {
                <a class="btn btn-sm btn-primary" asp-action="BlockUser" asp-route-userid="@user.Id">@Localizer["Block"]</a>
            }

            <a class="btn btn-sm btn-primary" asp-action="DeleteUser" asp-route-userid="@user.Id">@Localizer["Delete"]</a>
        </td>
            @if (@user.LockoutEnd != null && user.LockoutEnd > DateTime.Now)
             {
                <td>@Localizer["The lockout will end:"]@user.LockoutEnd</td> 
             }
        </tr>
    }
</table>