@model Course_Project.Models.PostViewModels.Comment
@inject UserManager<ApplicationUser> UserManager
@using Course_Project.Data
@inject ApplicationDbContext _context
@{
    var user = await UserManager.GetUserAsync(User);
    var isLiked = _context.Likes.Where(n => n.CommentId == Model.Id && n.UserId == user.Id).SingleOrDefault();
 }
<form id="@Model.Id" asp-action="AddLike" asp-route-Id="@Model.Id" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccessLike">
    <i class="fa fa-reply"></i>


    @if (isLiked == null)
    {
        <button class="ghost-button" type="submit" form="@Model.Id">
        <i id="heart" class="fa fa-heart"></i>
        </button>
        <i id="countOfLikes" style="position:relative;top:-1px;cursor:default">@Model.Likes</i>
    }
    else
    {
        <button class="ghost-button" type="submit" form="@Model.Id">
        <i id="heart" class="fa fa-heart" style="color:red"></i>
        </button>
        <i id="countOfLikes" style="position:relative;top:-1px;cursor:default;color:red">@Model.Likes</i>
    }



</form>
@*<script type="text/javascript">
    var onClick = function () {
        $("#like").submit();
    };
</script>*@



