@model Course_Project.Models.PostViewModels.Post
@inject SignInManager<ApplicationUser> SignInManager
<div class="row article-summary">
    <br />
    <div class="col-md-2">
        <p class="text-center">
            <img src=@Model.Author.ProfilePicture class="img-circle" alt="UserLogo" height="50" width="50" />
            <strong>  @Html.Raw(Model.Author.UserName)</strong>
            @Model.CreatedDate.ToString("dd MMM yyyy")
        </p>
    </div>
    <div class="col-md-10">
        <h4>
            <a asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a>
        </h4>
        <blockquote>
            <p>@Html.Raw(Model.Abstract)</p>
        </blockquote>
        @if (SignInManager.IsSignedIn(User))
        {
            @Html.Partial("_Raiting", Model)
        }
        
    </div>
</div>
<hr />
