@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = Localizer["Log in"];
}


<div class="row">
    <h2 style="text-align:center">@ViewData["Title"]</h2>
    <div class="col-md-4 col-md-offset-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4>@Localizer["Use a local account to log in."]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder=@Localizer["Username"] />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder=@Localizer["Password"] />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Localizer["Remember me?"]
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">@Localizer["Log in"]</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">@Localizer["Forgot your password?"]</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Register as a new user"]</a>
                    </p>
                </div>
            </form>
            <div>
                <h4>@Localizer["Use another service to log in."]</h4>
                <hr />    
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            <button type="submit" class="social-button" name="provider" value="Twitter">
                                <img src="~/images/twitter.png" />
                            </button>
                            <button type="submit" class="social-button" name="provider" value="Facebook">
                                <img src="~/images/facebook.png" />
                            </button>
                            <button type="submit" class="social-button" name="provider" value="VKontakte">
                                <img src="~/images/vk.png"/>
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
