@using Course_Project.Views.Profile
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var user = await UserManager.FindByIdAsync(ManageNavPages.UserId);
}
@*<h2>@Localizer["Manage your account"]</h2>*@
<div style="width:600px">
    <img src=@user.ProfilePicture class="img-circle" alt="UserLogo" height="100" width="100" />


    <h2><a asp-area="" asp-controller="Profile" asp-action="Index" method="get" title="Profile">@user</a></h2>
</div>
<div>
    <h4>@Localizer["Change your account settings"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}

