@using Course_Project.Views.Profile


<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index"  asp-route-id="@ManageNavPages.UserId">@Localizer["Profile"]</a></li>
    <li class="@ManageNavPages.MyNewsNavClass(ViewContext)"><a asp-action="MyNews" asp-route-id="@ManageNavPages.UserId">@Localizer["My news"]</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword" asp-route-id="@ManageNavPages.UserId" style=@ManageNavPages.Hidden>@Localizer["Password"]</a></li>
  
</ul>

